h2 {
  margin-left: 20px;
}

.users {
  list-style-type: none;
  width: 300px;
}

.users li {
  background-color: #eeeeee;
  margin: 5px;
  padding: 10px;
}

.badge {
  background-color: #405061;
  color: white;
  padding: 8px;
  margin-right: 10px;
}